@charset "utf-8";
/*! Base Style Template v0.6 | (c) YYYYMMDD @MoonYoungshin //creativecommons.org/licenses/by/3.0/deed.ko */
/*! Base Style Sheets v.20150303 r.20170223 | by MoonYoungshin[myshin@naver.com] | MIT License
 * Note) ★ NoEdit! ★ Only CSS Creator can modify.
 * UA 기본 개념에 따르며 호환 맞춘다.
 * ★ selectivizr-min.js (emulates CSS3 pseudo-classes and attribute selectors in Internet Explorer 6-8))) http://selectivizr.com/
 * [~IE8] 성능 높이려면, [IE9+] 지원 선택자 대신 하위 호환 선택자를 사용하세요.
 */

/** Compatible! 20160923
 * [IE7+]
	background-size (jquery.backgroundSize.js)
 * [IE8+]
	html:lang(ko)
	:before
	:after
	display:table; display:table-cell;
	display:inline-block;
	box-sizing:border-box;
	font-size:inherit;
 * [IE9+]
	:nth-child(1)
	:not([href])
	:checked
	rgba()
	border-radius
	background-size
	box-shadow
	opacity
 * [IE10+]
	background:linear-gradient();
	text-shadow
	transform
	transition [Android4.4.4+][iOS8.1+]
	animation @keyframes
 * Multiple Backgrounds linear-gradient [Android5.0.2](O) [CR](-) [IE11](X)
 */

/** Table of contents ))
 | (@font-face)
 | Base Reset ※normalize.css )) Advance
 | normalize.css clone
 | My Style
 | Utility Classes )) Clear Fix
 | Reset Initialization
 | Inside margin
 | Table
 | Form and Button
 | Property Solo
 | CSS3
 | Grid
 | UIX (Common Style for All Pages) )) #skipnav, .selectmenu1
 | RWD breakpoint
 */


/* @font-face. 20150430. * Nanum Gothic (Korean) http://www.google.com/webfonts/earlyaccess ◆◆◆ */
/* @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); */
/* ☆@font-face {
	font-family:'Nanum Gothic';
	font-style:normal;
	font-weight:400;
	src:url('//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v2/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
		url('//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v2/NanumGothic-Regular.woff') format('woff');
}
@font-face {
	font-family:'Nanum Gothic';
	font-style:normal;
	font-weight:700;
	src:url('//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v2/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
		url('//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v2/NanumGothic-Bold.woff') format('woff');
} */

/* ◇◆ Base Reset. ~20150327. 20170216. ※normalize.css )) Advance ◆◆◆ */

/* normalize.css clone */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{display:block;}
audio, canvas, progress, video{display:inline-block;vertical-align:baseline;}
audio:not([controls]){display:none;height:0;}
[hidden], template{display:none;}
a{background-color:transparent;}

/* ◇◆ My Reset Style ◇◆ */
html{font-size:62.5%;
	overflow-y:scroll;
	-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;
}
*+html{overflow-x:hidden;} /* [IE7]fix) 자손 넘치면 가로스크롤 발생 결함 해결 */
body{margin:0;background:#fff;font-size:1.4em;line-height:1.666;
	font-family:'Open Sans',Helvetica, /* ☆ 영문글꼴 letter-spacing:-1; 이하 자간 낮으면, 한글글꼴 알파벳 지정되도록 영문글꼴을 제거하거나 뒤로 보낸다. */
		'Apple SD Gothic Neo', /* 漢字 [iOS 5.1+][OS X Mountain Lion](20120308~) */
		'Microsoft JhengHei', /* 漢字(繁體) for [SF5.1.7 (Windows)](~2012) */
		'맑은 고딕','Malgun Gothic','나눔고딕',NanumGothic,'Nanum Gothic','돋움',Dotum,
		Arial,sans-serif; /* [IE7]fix) 한글글꼴 뒤에 추가글꼴이 없거나 sans-serif 만 있으면 굴림체로 보이는 결함 해결 */
	 /* word-wrap:break-word; ☆Not )) sub.css 본문 */
}
/* ☆ 20160311.20161019. 글꼴순 (영문, 지정언어), (맥용, 윈도우용) */
html[lang='ko'] body,
html *[lang='ko']{font-family:'Open Sans',Helvetica,
	'Apple SD Gothic Neo','Microsoft JhengHei',
	'맑은 고딕','Malgun Gothic','나눔고딕',NanumGothic,'Nanum Gothic','돋움',Dotum,
	Arial,sans-serif;
}
html[lang='en'] body,
html *[lang='en']{font-family:
	'Open Sans',Helvetica,
	Arial,sans-serif;
}
html[lang='zh'] body,
html *[lang='zh']{font-family:'Open Sans',Helvetica,
	'华文细黑',STXihei,'微软雅黑','Microsoft YaHei',
	Arial,sans-serif;
}
html[lang='ja'] body,
html *[lang='ja']{font-family:'Open Sans',Helvetica,
	'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',Osaka,'メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',
	Arial,sans-serif;
}
input,select,button,textarea,pre,code,kbd,samp{font-family:inherit;} /* [IE8+] */
i,em,cite,dfn,var,address{font-style:normal;}
label,button,input,select,textarea{font-size:1em;}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='image']{overflow:visible;cursor:pointer;}
img,form,fieldset,iframe,object,embed,video,audio{border:0;vertical-align:top;}
img{max-width:100%;height:auto;} /* 20150116. {width:inherit;} ☆주의! 부모폭 있으면 100% 가 된다. */
table,pre{font-size:1em;}
table{border-collapse:collapse;border-spacing:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
pre{white-space:pre-wrap;word-wrap:break-word;}
h1,h2,h3,h4,h5,h6,p,ul,ol,dl,menu,blockquote,fieldset,form,pre{margin-top:1em;margin-bottom:1em;} /* ☆ 블록간격기본 */
h1,h2,h3,h4,h5,h6{margin-bottom:.666em;
	font-weight:600; /* 20160802 */
	line-height:1.333;
}
/* 20161202 */
h1{font-size:2em;} /* =32/16 */
h2{font-size:1.75em;} /* =28/16 */
h3{font-size:1.5em;} /* =24/16 */
h4{font-size:1.25em;} /* =20/16 */
h5{font-size:1.125em;} /* =18/16 */
h6{font-size:1em;} /* =16/16 */
a{text-decoration:none;}
a[href]{color:#039;cursor:pointer;} /* ☆ 요소없는 속성선택자 [href]는 IE7 에서 안됨 */
[href]:hover,[href]:active,[href]:focus{text-decoration:underline;}
a[href^='tel']{text-decoration:none !important;cursor:default;}
strong,b{font-weight:bold;} /* 600 is bold but only [Android5.0.2] normal */
small,sub,sup{font-size:.8em}
abbr{cursor:help}
em{color:#d00;}
ol{list-style:decimal-leading-zero;}
hr{	-moz-box-sizing:content-box;
	box-sizing:content-box;
	height:0;
	margin:2em 0;
	border-width:0;border-bottom:1px solid #ddd;
}
/* code and eXaMPle 20160603 */
code{letter-spacing:0;}
.xmp{padding:2px 4px;border-radius:4px;background-color:#f9f2f4;color:#c24;font-size:90%;}

/* Utility Classes 20151209 */
.brclear{display:block;clear:both;width:0;height:0;margin:0;padding:0;font-size:0;line-height:0;}
.blind{position:absolute !important;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden;/* opacity:0;filter:alpha(opacity=0); ☆Naver */}
	*+html .blind{height:0;}
	caption.blind{position:relative;}
.blind.onshow:focus{	display:block;
	position:relative !important;
	left:auto;width:auto;height:auto;
	margin:0 0 1em 0;padding:.5em 1em;background:#ee0;color:#850;
	font-size:1em;line-height:normal;overflow:hidden;}
.block-center{display:block;margin-left:auto;margin-right:auto;}
/* * html .png24{tmp:expression(setPng24(this));} ☆Never */

/* Reset Initialization 20170216
 * 초기화하려는 요소에 class="init" 를 추가한다. 공통배치 #head, #foot, #sidebar, …, #visual, .. 등은 일반적으로 초기화한다.
 * ☆주의! 양식 요소 input[type='text'] .. 등은 재 초기화 필요할 수도 있다.
 * 태그에 직접 초기화 금지! (x) body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,li,menu,blockquote,form,fieldset,pre{list-style:none;margin:0;padding:0;}
 */
.init{ /* 상속하는 속성 */
	font-size:1em;line-height:1.333;
}
.init,
.init *{ /* 상속 안하는 속성 */
	list-style:none;
	max-width:none; /* ☆ */
	margin:0;padding:0;
	/* border-radius:0;border-width:0;background:transparent;vertical-align:top; */
}
.init.init,
.init.init *{ /* [href]:hover 보다 우선순위 높임 */
	text-decoration:none;
}

/* Clear Fix 20150821 */
.clearfix{min-height:0;} /* [IE7]fix )) margin-bottom bug Fix is <div class="clearfix">…<br class="brclear" /></div> */
	.clearfix:before,
	.clearfix:after{content:'';display:table;} /* [IE8+] */
	.clearfix:after{clear:both;}

#container,
	#head,
	#wrap,
		#side,
		#sidebar,
		#body,
			#body_head,
			#body_content,
			#body_foot,
		#aside,
	#wing,
	#foot,
	.container{min-height:0;}
#container:before, #container:after,
	#head:before, #head:after,
	#wrap:before, #wrap:after,
		#side:before, #side:after,
		#sidebar:before, #sidebar:after,
		#body:before, #body:after,
			#body_head:before, #body_head:after,
			#body_content:before, #body_content:after,
			#body_foot:before, #body_foot:after,
		#aside:before, #aside:after,
	#wing:before, #wing:after,
	#foot:before, #foot:after,
	.container:before, .container:after{content:'';display:table;clear:both;}

/* Inside margin 20150604. 20170222 */
pre:first-child{margin-top:0;}
pre:last-child{margin-bottom:0;}
#body>:first-child,
#body_content>:first-child,
#body_content>script:first-child+:first-of-type,
#body_content>.container>:first-child,
#body_content>.container>script:first-child+:first-of-type{margin-top:0;}

/* Table 20150629 */
table{border:1px solid #ddd;}
th,
td{padding:.4em .5em;border:1px solid #ddd;}


/* ◇◆ Form and Button ◇◆ 20160125. 20161212. */
/* Task) [SF] select{ border-radius, background } */
/* ☆ 우선순위 주의! ex) .init *{.. margin:0;padding:0; ..} */

form{margin:0;}
fieldset{margin-left:0;margin-right:0;padding:0;}
legend{} /* ☆ */

a[class*='button'],
button,
button[class*='button'],button[type='submit'],button[type='reset'], /* ☆ */
html input[type='button'], /* ☆ Avoid [Android4.2.2]bug) audio and video controls */
input[type='submit'],input[type='reset'],
input[type='text'],input[type='password'],input[type='file'],
input[type='email'],input[type='number'],input[type='search'],input[type='tel'],input[type='url'],
input[type='radio'],input[type='checkbox'],
textarea,
[action] textarea,
select,
[action] select{
	display:inline-block;
	box-sizing:border-box; /* [IE8+] */
	max-width:100%;
	height:2.571em; /* ☆ =(36/14)px */
	margin-top:.333em;margin-bottom:.333em;
	padding:0;
	border-radius:2px; /* ☆ */
	line-height:normal; /* ☆ 2.429=((36-2)/14)px */
	vertical-align:middle;
	text-decoration:none !important;
	/* -webkit-appearance:none; */ /* ☆ select 화살촉 사라짐! */
}
input[type='radio']{ /* [SF]fix */
	border-radius:9999px;
}

/* Button */
input[type='image']{margin-top:.333em;margin-bottom:.333em;vertical-align:middle;} /* 20160708 */
html input[type='button'], /* ☆ Avoid [Android4.2.2]bug */
input[type='submit'],input[type='reset'],
button,
button[class*='button'],button[type='submit'],button[type='reset'], /* ☆ */
a[class*='button']{-webkit-border-radius:0;-webkit-appearance:none;
	padding:.548em .786em; /* ☆ (((36-2)/14)-1.333)/2) (((36-14)/2)/14) */
	border:1px solid #999;
	background-color:#eee;
	color:#333;
	line-height:1.333;
	white-space:nowrap;
}

input[type='text'],input[type='password'],input[type='file'],
input[type='email'],input[type='number'],input[type='search'],input[type='tel'],input[type='url'],
textarea,
[action] textarea{ /* ☆ */
	-webkit-border-radius:0;-webkit-appearance:none;
	padding:0 .2em;
	border:1px solid #bbb;
	background-color:#fcfcfc;
}
/* if.. has setClassUAver() */
html.lteIE8 input[type='text'],
html.lteIE8 input[type='password']{line-height:2;} /* 20160509 Roughly Value */

/* [CR][FF][OP] */
input[type='file']{
	height:auto;padding-top:.583em;padding-bottom:.583em;border-color:transparent;background-color:#fcfcfc;font-size:.857em /* 12px */;font-family:'맑은 고딕';line-height:1.333;
}
/* [IE10+] */
input[type='file']::-ms-value{height:2.666em;margin:-.666em 0 -.666em -.2em;border:1px solid #ccc;background-color:#fcfcfc;}
input[type='file']::-ms-browse{height:2.5em;margin:-.555em -.2em -.555em .166em;
	border:1px solid #999;border-color:#ccc #aaa #999 #bbb;
	background-color:#eee;
	background:linear-gradient(180deg, #fff 0, #fff 3%, #eee 3%, #fff 100%);
}

textarea,
[action] textarea{ /* ☆ */
	width:100%;height:8em;line-height:1.333;
}
textarea[rows='1']{height:1.444em;}
textarea[rows='2']{height:2.888em;}
textarea[rows='5']{height:7.222em;}

select,
[action] select{ /* ☆ */
	padding:.45em .2em; /* [IE8]fix */
	border:1px solid #bbb;
	background-color:#fcfcfc;
}
select[multiple]{height:auto;} /* 20150716 */

input[type='radio'],input[type='checkbox']{
	box-sizing:content-box; /* [IE8,9]fix(점처럼보이는결함) */
	width:1em;height:1em;
	margin:0;margin-top:0.786em;margin-bottom:0.786em; /* =((36-14)/14/2) */
	line-height:normal;
}

/* [IE7]fix */
*+html a[class*='button']{height:auto;}
*+html input[type],
*+html select,
*+html [action] select, /* ☆ */
*+html textarea,
*+html [action] textarea{ /* ☆ */
	padding:0;height:2.429em; /* ☆34px */
}
*+html input[type='button'],
*+html input[type='submit'],
*+html input[type='reset'],
*+html button[class*='button'],
*+html button[type='submit'],
*+html button[type='reset'], /* ☆ */
*+html button{height:auto;padding:.406em .715em;} /* ☆-2px ☆-1px */
*+html input[type='file']{height:3em;} /* ☆=(36/12)px */
*+html input[type='radio'],
*+html input[type='checkbox']{bottom:0;height:1em;}
*+html table input[type='text'].w100,
*+html table input[type='password'].w100,
*+html table input[type='file'].w100,
*+html table select.w100,
*+html table textarea.w100{width:94% !important;}

/* ◇◆ Form Misc 20160614 20161128 */
label[for]{display:inline-block;cursor:pointer;vertical-align:middle;}
.form-text1{display:inline-block;height:auto;
	margin-top:.619em;margin-bottom:.619em; /* = (2.571-1.333)/2 ((= input 요소 (height - lineHeight)/2 */
	line-height:1.333;
}
.form-text1 *{height:auto;}
.form-static1,
table.writeform1>*>tr>th>:first-child{display:inline-block;height:auto;
	margin-top:.952em;margin-bottom:.952em; /* = .333 + (2.571-1.333)/2 ((= input 요소 margin + (height - lineHeight)/2 */
	padding-top:0;padding-bottom:0;
	line-height:1.333;
}
.column .form-static1,
.form-group .form-static1{padding-left:4px;padding-right:4px;}
table.writeform1{table-layout:fixed;}
table.writeform1 tbody th,
table.writeform1 tbody td{text-align:left;vertical-align:top;}

/* .form-group 라벨과 콘트롤을 감싼다. 최적 여백, 고정+가변, .. 20150731. 20160511
 * [IE7] 호환 안한다면 간단하게 display:table; 로 만든다.
 */
.form-group{display:block;margin-bottom:1em;}
.form-group[class*='fixed']{position:relative;min-height:0;margin-bottom:0;}
	.form-group[class*='fixed']:before,
	.form-group[class*='fixed']:after{content:'';display:table;clear:both;}
.form-group.fixed1auto1{padding:0 0 0 24px;text-align:left;} /* 콘트롤 높이와 같은 너비. 확장형은 필요하면 추가 */
.form-group.auto1fixed1{padding:0 24px 0 0;text-align:right;}
.form-group.fixed1auto1fixed1{padding:0 24px;text-align:justify;}
.form-group[class*='fixed']>.fixed1{float:left;width:24px;}
.form-group[class*='fixed']>.auto1{float:left;width:100%;}
.form-group.fixed1auto1>.fixed1{margin:0 0 0 -24px;}
.form-group.auto1fixed1>.fixed1{float:right;margin:0 -24px 0 0;text-align:right;}
.form-group.fixed1auto1fixed1>.fixed1{margin:0 0 0 -24px;}
.form-group.fixed1auto1fixed1>.fixed1+.auto1+.fixed1{float:right;margin:0 -24px 0 0;text-align:right;}
/* auto1fixed1auto1 */
.form-group.auto1fixed1auto1{padding:0 0 0 24px;text-align:left;}
.form-group.auto1fixed1auto1>:first-child.auto1{width:50%;margin:0 0 0 -24px;}
.form-group.auto1fixed1auto1>.fixed1{text-align:center;}
.form-group.auto1fixed1auto1>:first-child.auto1+.fixed1+.auto1{width:50%;}
/* prefix postfix */
.prefix,
.midfix,
.postfix{display:block;
	height:2.429em;
	margin:.333em 0;
	border-radius:2px; /* ☆ */
	border:1px solid #ccc;
	background:#eee;
	line-height:2.429;
	text-align:center;
}
.prefix{margin-right:-1px;}
.midfix{margin-left:-1px;margin-right:-1px;}
.postfix{margin-left:-1px;}


/* ◇◆ ime-mode 20160405 [IE]OK(only) */
input[type='text'],
input[type='search']{ime-mode:active;}
[lang='en'] input,
input[lang='en']{ime-mode:inactive;}
.ime-mode-auto{ime-mode:auto !important;} /* 한/영 선택된 문자 입력 */
.ime-mode-active{ime-mode:active !important;} /* 한글 기본 입력 */
.ime-mode-inactive{ime-mode:inactive !important;} /* 영문 기본 입력 */
.ime-mode-disabled{ime-mode:disabled !important;} /* 영문만 입력 가능 */


/* ◇◆ CSS Property Value Solo (※D=default값) 20161014 20161208 ◆◆◆ */
/* Task) 3 or more characters ☆ */
/* layout */
.dpn{display:none !important;}
.dpb{display:block !important;}
.dpi{display:inline !important;}
.dpib{display:inline-block !important;}
.dpt{display:table !important;} /* 20161014 */
.dptc{display:table-cell !important;}
.vsh{visibility:hidden !important;}
.vsv{visibility:visible !important;}
.lstn{list-style-type:none !important;}
.lstdlz{list-style-type:decimal-leading-zero !important;}
.fl,
.fll{float:left !important;} /* 20150611 */
.fr,
.flr{float:right !important;} /* // */
.fn,
.fln{float:none !important;} /* // */
.clb{clear:both !important;}
.cll{clear:left !important;}
.clr{clear:right !important;}
.pss{position:static !important;}
.psr{position:relative !important;}
.psa{position:absolute !important;}
.psf{position:fixed !important;}
.zia{z-index:auto !important;}
.zi100{z-index:100 !important;}
.ziD, /* ☆ z-index Default */
.zi0{z-index:0 !important;} /* 20150722 */
.zi-1{z-index:-1 !important;}
.ofv{overflow:visible !important;}
.ofa{overflow:auto !important;}
.ofh{overflow:hidden !important;}
.ofxh{overflow-x:hidden !important;} /* 20150508 */
.ofyh{overflow-y:hidden !important;}
.scroll{overflow:auto !important;}
.scroll-x{overflow:hidden !important;overflow-x:auto !important;}
.scroll-y{overflow:hidden !important;overflow-y:auto !important;}
.tlf{table-layout:fixed !important;}
/* box 20151020 20161207 § Heed! [IE7]box-sizing not  */
.w100{width:100% !important;}
.h100{height:100% !important;}
.wh100{width:100% !important;height:100% !important;}
.waha{width:auto !important;height:auto !important;}
.mwnmhn{max-width:none !important;max-height:none !important;}
.mg0{margin:0 !important;}
.mg1em{margin:1em !important;}
.mgtb0{margin-top:0 !important;margin-bottom:0 !important;} /* 20161202 */
.mgtbD{margin-top:1em !important;margin-bottom:1em !important;} /* ☆ 블록간격상하Default */
.mgt0{margin-top:0 !important;}
.mgb0{margin-bottom:0 !important;}
.mgl0{margin-left:0 !important;}
.mgr0{margin-right:0 !important;}
.mgt1em{margin-top:1em !important;}
.mgb1em{margin-bottom:1em !important;}
.mgl1em{margin-left:1em !important;}
.mgr1em{margin-right:1em !important;}
.mgt-1em{margin-top:-1em !important;}
.mgl-1em{margin-left:-1em !important;}
.mgt0833em{margin-top:.833em !important;}
.mgb0833em{margin-bottom:.833em !important;}
.mgt0666em{margin-top:.666em !important;}
.mgb0666em{margin-bottom:.666em !important;}
.mgt05em{margin-top:.5em !important;}
.mgb05em{margin-bottom:.5em !important;}
.mgt0333em{margin-top:.333em !important;}
.mgb0333em{margin-bottom:.333em !important;}
.mgt0166em{margin-top:.166em !important;}
.mgb0166em{margin-bottom:.166em !important;}
.pd0{padding:0 !important;}
.pd1em{padding:1em !important;}
.pd1em-rv, /* 20160818 */
.pd1em-lh{padding:.666em 1em !important;}
.pd05em{padding:.5em !important;}
.pdt0{padding-top:0 !important;}
.pdb0{padding-bottom:0 !important;}
.pdl0{padding-left:0 !important;}
.pdr0{padding-right:0 !important;}
.bd0{border:0 !important;}
.bdt0{border-top:0 !important;}
.bdb0{border-bottom:0 !important;}
.bd1{border:1px solid #ddd !important;}
.bdct{border-color:transparent !important;}
.bdl0{border-left:0 !important;}
.bgn{background:none !important;}
.bgt{background:transparent !important;}
.bgct{background-color:transparent !important;}
.bgcD, /* ☆ bg color Default */
.bgcf{background-color:#fff !important;}
.bgcfc{background-color:#fcfcfc !important;}
.bgcf7{background-color:#f7f7f7 !important;}
.bgcf4{background-color:#f4f4f4 !important;}
.bgce{background-color:#eee !important;}
.bgcc{background-color:#ccc !important;}
.bgc9{background-color:#959595 !important;} /* contrast 3.0:1 */
.bgc7{background-color:#767676 !important;} /* contrast 4.5:1 */
.bgc5{background-color:#555 !important;}
.bgc3{background-color:#333 !important;}
.bgc0{background-color:#000 !important;}
.bgin{background-image:none !important;}
.cv0{color:#000 !important;}
.cv3{color:#333 !important;}
.cvD, /* ☆ color value Default */
.cv5{color:#555 !important;}
.cv6{color:#666 !important;}
.cv7{color:#767676 !important;} /* contrast 4.5:1 */
.cv9{color:#959595 !important;} /* contrast 3.0:1 */
.cvc{color:#ccc !important;}
.cve{color:#eee !important;}
.cvf7{color:#f7f7f7 !important;}
.cvf{color:#fff !important;}
/* font 20160802 */
.fvD{font-style:normal !important;font-weight:normal !important;font-size:12px !important;font-size:1rem !important;} /* ☆ font value Default */
.fsn{font-style:normal !important;}
.fsi{font-style:italic !important;}
.fwn{font-weight:normal !important;}
.fwb{font-weight:bold !important;}
.fw5{font-weight:500 !important;}
.fw6{font-weight:600 !important;}
/* if( 1rem == 13px ) ☆)) Remove Other Size */
.fsXXS{font-size:.769em !important;} /* 10/13 */
.fsXS{font-size:.846em !important;} /* 11/13 */
.fsS{font-size:.923em !important;} /* 12/13 */
.fsd, /* font size default */
.fs1em,
.fss{font-size:1em !important;} /* 13/13 */
.fsD{font-size:1.077em !important;} /* 14/13 */
.fsm{font-size:1.154em !important;} /* 15/13 */
.fsM{font-size:1.231em !important;} /* 16/13 */
.fsL{font-size:1.385em !important;} /* 18/13 */
.fsXL{font-size:1.538em !important;} /* 20/13 */
.fsXXL{font-size:1.846em !important;} /* 24/13 */
.fsXXXL{font-size:2.308em !important;} /* 30/13 */
/* if( 1rem == 14px ) ☆)) Remove Other Size */
.fsXXS{font-size:.714em !important;} /* 10/14 */
.fsXS{font-size:.786em !important;} /* 11/14 */
.fsS{font-size:.857em !important;} /* 12/14 */
.fss{font-size:.929em !important;} /* 13/14 */
.fsd, /* font size default */
.fs1em,
.fsD{font-size:1em !important;} /* 14/14 */
.fsm{font-size:1.071em !important;} /* 15/14 */
.fsM{font-size:1.143em !important;} /* 16/14 */
.fsL{font-size:1.286em !important;} /* 18/14 */
.fsXL{font-size:1.429em !important;} /* 20/14 */
.fsXXL{font-size:1.714em !important;} /* 24/14 */
.fsXXXL{font-size:2.143em !important;} /* 30/14 */
 /* 20161208 */
.fs4XL{font-size:2.571em !important;} /* 36/14 */
/* ☆ font family Default. 20160729 */
.ffD{font-family:'Open Sans',Helvetica,
	'Apple SD Gothic Neo','Microsoft JhengHei',
	'맑은 고딕','Malgun Gothic','나눔고딕',NanumGothic,'Nanum Gothic','돋움',Dotum,
	Arial,sans-serif;
}
.ffks1{font-family:/* 'Nanum Brush Script','Nanum Pen Script', */'NanumMyeongjo','나눔명조','명조',serif !important;}
.ffc{font-family:Arial, sans-serif !important;} /* ☆Compatible(&lsaquo; &rsaquo;) */
/* ☆ line height Default */
.lhD{line-height:1.333 !important;}
.lhn{line-height:normal !important;}
.lh1{line-height:1 !important;}
.ls-1{letter-spacing:-1px !important;}
.ls-2{letter-spacing:-2px !important;}
.ls-3{letter-spacing:-3px !important;}
.ls0{letter-spacing:0 !important;}
.wsnw,
.nowrap{white-space:nowrap !important;}
.wsnm,
.onwrap{white-space:normal !important;}
.wsp{white-space:pre !important;}
.wspl{white-space:pre-line !important;}
.wspw{white-space:pre-wrap !important;}
.wwbw{word-wrap:break-word !important;}
.prewrap{white-space:pre-wrap !important;word-wrap:break-word !important;}
.tdu{text-decoration:underline !important;}
.tdlt{text-decoration:line-through !important;}
.tdn{text-decoration:none !important;}
.tal{text-align:left !important;}
.tar{text-align:right !important;}
.tac{text-align:center !important;}
.taj{text-align:justify !important;} /* 20150622 */
.vat{vertical-align:top !important;}
.vab{vertical-align:bottom !important;}
.vam{vertical-align:middle !important;}
.vabl{vertical-align:baseline !important;}
/* misc */
.big{font-size:1.286em !important;} /* 18/14 */

/* ◇◆ CSS3 ◇◆ 20150812. 20160511. */
.ellipsis1{max-width:100%;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;} /* [All] */
.ellipsis1 *{white-space:nowrap !important;/* vertical-align:middle; */}
.ellipsis2{} /* ★☆ToDo) ☆다중 행 해야한다. */
.radius0{border-radius:0 !important;} /* [IE9+] */
.bdrD{border-radius:3px !important;} /* ☆ border radius Default */
.opacity0{opacity:0 !important;} /* [IE9+] */
.opacity1{opacity:1 !important;}
.op05{opacity:0.5 !important;}
.gradient1{ /* [IE10+] */
	background:linear-gradient(to bottom, #fff 0, #fff 5%, #eee 5%, #fff 100%);
	/* filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#eeeeee, endColorStr=#ffffff); */
}
.shadow0{box-shadow:none !important;} /* [IE9+] HorizontalLength VerticalLength BlurRadius Spread ShadowColor */
.shadow1{box-shadow:0 1px 1px 0 rgba(0, 0, 0, .1) !important;}
.shadow2{box-shadow:0 2px 2px 0 rgba(0, 0, 0, .1) !important;}
.shadow1in1{box-shadow:0 1px 2px 0 rgba(0, 0, 0, .1) inset !important;}
.border-box{box-sizing:border-box !important;} /* [IE8+] */
.pbba{page-break-before:always !important;}

/* Shapes img, panel, .. 20150713 */
.responsive{max-width:100% !important;height:auto !important;}
.radius{border-radius:6px !important;} /* [IE9+] */
.radius>:first-child{border-radius:6px 6px 0 0;}
.radius>:last-child{border-radius:0 0 6px 6px;}
.round{border-radius:9999px !important;}
.circle{border-radius:50% !important;}
.thumb{box-sizing:border-box; /* [IE8+] */
	padding:2px;
	border-radius:2px; /* ☆ */
	border:1px solid #eee;background-color:#fff;box-shadow:0 0 3px 0 rgba(255, 255, 255, 1) inset;
}


/* ◇◆ Grid ◇◆ 20161205 20170110 */

/* even-grid 20151109. 20160616. 20161205. 20170110.
 * 20161205. 차등그리드 [class*='diffmix2-'] 는 border-box 로만 하고, collapse 는 없다.
 * column 을 	inline-block 으로 한 이유는 가로 가운데 정렬 위해서 이다. (AsIs 에서는 IE7 호환 이유)
 * column 전체 너비합은 부모 너비보다 column수 px 만큼 작을 수 있다.
 * 우측 끝에 딱맞추려면.float-left 를 사용해야 한다.
 * Task) .even-grid[class*='diffmix2-']
 */
.even-grid{box-sizing:border-box; /* ☆ [IE8+] */
	list-style:none;min-height:0;margin:1% -1%;padding:0;
}
.even-grid:before,
.even-grid:after{content:'';display:table;clear:both;}
/* column */
.even-grid>.column{display:inline-block;
	box-sizing:border-box; /* ☆ [IE8+] */
	width:25%;
	margin:0 -.25em 0 0;
	padding:1%;
	vertical-align:top;
}
/* gap */
.even-grid.gap1pct{margin:1% -.5%;}
.even-grid.gap2pct{margin:1% -1%;}
.even-grid.gap3pct{margin:1% -1.5%;}
.even-grid.gap4pct{margin:1% -2%;}
.even-grid.gap1pct>.column{padding:.5%;}
.even-grid.gap2pct>.column{padding:1%;}
.even-grid.gap3pct>.column{padding:1.5%;}
.even-grid.gap4pct>.column{padding:2%;}
/* collapse */
.even-grid.gap0pct,
.even-grid.collapse{margin:0;padding:0 0 1px 0;}
.even-grid.gap0pct>.column,
.even-grid.collapse>.column{margin-bottom:-1px;padding:0;}
/* float 20170110 */
.even-grid.float-left{}
.even-grid.float-left>.column{float:left;margin:0;}
.even-grid.float-left.collapse{margin:0;padding:0;}
.even-grid.float-left.collapse>.column{float:left;margin:0;padding:0;}
/* small~xlarge */
/* (균등 evenmix-) */
	.even-grid[class*='evenmix-1']>.column{width:100%;}
	.even-grid[class*='evenmix-2']>.column{width:50%;}
	.even-grid[class*='evenmix-3']>.column{width:33.333%;}
/* (each) */
	.even-grid>.column.small-1{width:8.333%;}
	.even-grid>.column.small-2{width:16.666%;}
	.even-grid>.column.small-3{width:25%;}
	.even-grid>.column.small-4{width:33.333%;}
	.even-grid>.column.small-5{width:41.666%;}
	.even-grid>.column.small-6{width:50%;}
	.even-grid>.column.small-7{width:58.333%;}
	.even-grid>.column.small-8{width:66.666%;}
	.even-grid>.column.small-9{width:75%;}
	.even-grid>.column.small-10{width:83.333%;}
	.even-grid>.column.small-11{width:91.666%;}
	.even-grid>.column.small-12{width:100%;}
@media all and (min-width:768px){ /* medium */
	.even-grid[class*='evenmix-12']>.column{width:50%;}
	.even-grid[class*='evenmix-13']>.column,
	.even-grid[class*='evenmix-23']>.column{width:33.333%;}
	.even-grid[class*='evenmix-14']>.column,
	.even-grid[class*='evenmix-24']>.column{width:25%;}
/* (each) */
	.even-grid>.column.medium-1{width:8.333%;}
	.even-grid>.column.medium-2{width:16.666%;}
	.even-grid>.column.medium-3{width:25%;}
	.even-grid>.column.medium-4{width:33.333%;}
	.even-grid>.column.medium-5{width:41.666%;}
	.even-grid>.column.medium-6{width:50%;}
	.even-grid>.column.medium-7{width:58.333%;}
	.even-grid>.column.medium-8{width:66.666%;}
	.even-grid>.column.medium-9{width:75%;}
	.even-grid>.column.medium-10{width:83.333%;}
	.even-grid>.column.medium-11{width:91.666%;}
	.even-grid>.column.medium-12{width:100%;}
}
@media all and (min-width:1000px){ /* large */
	.even-grid[class*='evenmix-123']>.column{width:33.333%;}
	.even-grid[class*='evenmix-124']>.column,
	.even-grid[class*='evenmix-234']>.column{width:25%;}
	.even-grid[class*='evenmix-246']>.column{width:16.666%;}
/* (each) */
	.even-grid>.column.large-1{width:8.333%;}
	.even-grid>.column.large-2{width:16.666%;}
	.even-grid>.column.large-3{width:25%;}
	.even-grid>.column.large-4{width:33.333%;}
	.even-grid>.column.large-5{width:41.666%;}
	.even-grid>.column.large-6{width:50%;}
	.even-grid>.column.large-7{width:58.333%;}
	.even-grid>.column.large-8{width:66.666%;}
	.even-grid>.column.large-9{width:75%;}
	.even-grid>.column.large-10{width:83.333%;}
	.even-grid>.column.large-11{width:91.666%;}
	.even-grid>.column.large-12{width:100%;}
}
@media all and (min-width:1200px){ /* xlarge */
	.even-grid[class*='evenmix-1234']>.column{width:25%;}
	.even-grid[class*='evenmix-135']>.column,
	.even-grid[class*='evenmix-2345']>.column{width:20%;}
	.even-grid[class*='evenmix-2468']>.column{width:12.5%;}
/* (each) */
	.even-grid>.column.xlarge-1{width:8.333%;}
	.even-grid>.column.xlarge-2{width:16.666%;}
	.even-grid>.column.xlarge-3{width:25%;}
	.even-grid>.column.xlarge-4{width:33.333%;}
	.even-grid>.column.xlarge-5{width:41.666%;}
	.even-grid>.column.xlarge-6{width:50%;}
	.even-grid>.column.xlarge-7{width:58.333%;}
	.even-grid>.column.xlarge-8{width:66.666%;}
	.even-grid>.column.xlarge-9{width:75%;}
	.even-grid>.column.xlarge-10{width:83.333%;}
	.even-grid>.column.xlarge-11{width:91.666%;}
	.even-grid>.column.xlarge-12{width:100%;}
}

/* list bullet 20160121 */
ul.bu.even-grid li{margin-right:-1.5em;padding:0 2% 0 1.2em;}

/* mj-menu-even-width 20160218. 20161103.
 * [~IE8] JS 의존한 반응형, 선택자들이 $(window).on('load resize', function(e){}); 동작 시 먹통 현상 해결 위해 col-1 > li:nth-child(n+1),..{clear:both;} 제거함.
 */
.mj-menu-even-width ul{list-style:none;position:relative;margin:0;padding:0;}
.mj-menu-even-width li{display:inline-block /* [IE7]Fix */;float:left;width:auto;height:auto;margin:0;padding:0 .3% .6%;text-align:left;}
*+html .mj-menu-even-width li{display:inline /* [IE7]fix */;float:none;margin-right:-1px;vertical-align:top;}
/* ☆(-(0.3*2)+(100/(column1~12)))% */
.mj-menu-even-width .col-1 > li{width:99.4%;text-align:left;}
.mj-menu-even-width .col-2 > li{width:49.4%;}
.mj-menu-even-width .col-3 > li{width:32.73333%;}
.mj-menu-even-width .col-4 > li{width:24.4%;}
.mj-menu-even-width .col-5 > li{width:19.4%;}
.mj-menu-even-width .col-6 > li{width:16.06667%;}
.mj-menu-even-width .col-7 > li{width:13.68571%;}
.mj-menu-even-width .col-8 > li{width:11.9%;}
.mj-menu-even-width .col-9 > li{width:10.51111%;}
.mj-menu-even-width .col-10 > li{width:9.4%;}
.mj-menu-even-width .col-11 > li{width:8.49091%;}
.mj-menu-even-width .col-12 > li{width:7.73333%;}


/* ◇◆ UIX (Common Style for All Pages) ◆◆◆ (This includes a main page!) */


/* ☆Accessibility 20161024 */
#skipnav{z-index:9999;position:absolute;left:0;top:0;width:100%;}
#skipnav *{display:inline;list-style:none;margin:0;padding:0;}
#skipnav a{display:block;position:absolute;left:-9999px;top:0;width:1px;height:1px;overflow:hidden;}
#skipnav a:focus{left:0;width:100%;height:auto;background:#58b;color:#fff;font:bold 1em/2.5 '맑은 고딕';text-decoration:none;text-align:center;}


/* ☆선택메뉴(범용) [JQ] doSelectmenu1() 20151020. 20161220 z-index, max-height, Mobile, .. */
.selectmenu1{display:inline-block;position:relative;width:15em;margin-top:.333em;margin-bottom:.333em;
	font-size:.929em;text-align:left;vertical-align:middle;
}
.selectmenu1 .title{display:inline;}
.selectmenu1 .title a.a1{display:block;position:relative;min-height:1em;border-radius:2px /* ☆ */;border:1px solid #ccc;
	background:#fff;background:linear-gradient(to bottom, #fff 0, #eee 100%);
	color:#333 !important;font-weight:normal;line-height:34px /* ☆button{height} */;text-decoration:none;overflow:hidden;
}
.selectmenu1 .title a.a1 .t1{display:block;padding:0 10px;margin-right:2em;border-right:1px solid #ddd;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
.selectmenu1 .title a.a1 .ic1{float:left;position:absolute;right:0;top:50%;width:0;height:0;margin:-.2em .6em;border:.4em solid transparent;border-top-color:#777;overflow:hidden;text-indent:100%;}
.selectmenu1 .title.on a.a1{border-radius:2px 2px 0 0 /* ☆ */;}
.selectmenu1 .title.on a.a1 .ic1{float:left;position:absolute;right:0;top:50%;width:0;height:0;margin:-.6em .6em;border:.4em solid transparent;border-bottom-color:#777;overflow:hidden;text-indent:100%;}
.selectmenu1option{display:none;
	z-index:100; /* ☆ */
	position:absolute;left:0;top:100%;
	width:100%;
	box-shadow:0 2px 5px 0 rgba(0, 0, 0, .1);
}
.selectmenu1option .options{list-style:none;
	max-height:20em; /* =(1.333+0.333+0.333)*10 */
	margin:-1px 0 0 0;
	padding:.666em 0;
	border-radius:0 0 2px 2px; /* ☆ */
	border:1px solid #ccc;border-top:1px solid #ddd;
	background:#fff;
	overflow:auto;
}
.selectmenu1option .option{display:inline;margin:0;padding:0;}
.selectmenu1option .option a.a1{display:block;padding:.333em 10px;background:#fff;color:#000;line-height:1.333;text-decoration:none;}
.selectmenu1option .option a.a1:hover,
.selectmenu1option .option a.a1:focus{background:#666;color:#fff;}
.selectmenu1option .option.on a.a1{background:#eee;color:#000;} /* ☆[IE]다음옵션도적용결함? */
/* 쌓임맥락 */
.selectmenu1>.selectmenu1option{z-index:90;}
.selectmenu1~.selectmenu1>.selectmenu1option{z-index:80;}
.selectmenu1~.selectmenu1~.selectmenu1>.selectmenu1option{z-index:70;}
/* Mobile ◇◆ */
html.Mobile	.selectmenu1option:after{content:'';display:block;
		position:absolute;left:1px;right:16px;bottom:1px;
		height:2em;
		background:linear-gradient(to bottom, rgba(255,255,255, 0) 0, #fff 100%);
		overflow:hidden;
	}
html.Mobile	.selectmenu1option .options{padding:.666em 0 2em;}


/* Old UX ◆◆◆ */
/* N/A */


/* RWD (( lib.css 20170110 ◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆ */

/* ☆스크롤. iscroll.js for table, img, .. 20141104~20150817 */

/* [JS] jQscrollTouch('.scroll1wrap', {setDesktop: false}); */
html.Mobile .scroll1wrap{position:relative;margin:4px 0;
	overflow:hidden; /* 20150817 */
}
html.Mobile .scroll1wrap.myscroll{margin-bottom:20px;padding:0 0 10px 0;}
html.Mobile .scroll1cont{} /* [JS] width: 내부 최대크기; */
html.Mobile .scroll1wrap>table tr>*,
html.Mobile .scroll1wrap>.scroll1cont>table tr>*{white-space:nowrap;}
/* [JS] jQscrollTouch('.scroll1wrap1all1', {setDesktop: true}); */
html .scroll1wrap1all1{position:relative;margin:4px 0;overflow:auto;overflow-y:hidden;} /* [~IE8] iscroll.js 불가하니 auto */
*+html .scroll1wrap1all1{padding:0 0 16px 0;}
html .scroll1wrap1all1.myscroll{margin-bottom:20px;padding:0 0 10px 0;overflow:hidden;} /* [IE9+표준] iscroll.js 가능하니 hidden */
html .scroll1cont{min-width:99.7%;} /* ☆ 부모보다 너비 작으면 스크롤 생기지 않는 최대크기. [AD5.0.2]확인OK */
html .scroll1wrap1all1>table tr>*, /* 내부 테이블 적용여부고려하자 */
html .scroll1wrap1all1>.scroll1cont>table tr>*{white-space:nowrap;} /* .scroll1cont 있을 수 있다. */
/* [JS] created */
.iScrollHorizontalScrollbar{left:0 !important;right:0 !important;bottom:0 !important;top:auto !important;height:7px !important;border-radius:3px !important;background:#eaecee;}
.iScrollIndicator{border:0 solid #579 !important;border-radius:3px !important;background:#abc !important;opacity:1;}
.iScrollIndicator:hover,
.iScrollIndicator:focus{opacity:1;}


/* Flex Wrapper for Responsive embed 20150713. 20160602. */
/* 테스트 필요!
	height:0; [IE7]결함유발염려.
	overflow:hidden; [IE11]WMP 아래 라인 잘리기도함
*/
.flex1wrap1{display:block;position:relative;max-width:100%;margin:0 auto;
	padding:0 0 56.25% 0; /* ☆ */
	background:#000; /* ☆ */
	overflow:hidden;
}
.flex1wrap1.wmv1pdt{padding-top:64px;} /* ☆ Windows7[IE11]WMP12 컨트롤바+상태바 높이 */
.flex1wrap1.ratio2by1{padding-bottom:50%;}
.flex1wrap1.ratio16by9{padding-bottom:56.25%;}
.flex1wrap1.ratio16by10{padding-bottom:62.5%;}
.flex1wrap1.ratio3by2{padding-bottom:66.666%;}
.flex1wrap1.ratio4by3{padding-bottom:75%;}
.flex1wrap1.ratio1by1{padding-bottom:100%;}
/* ((( Foundation. You may delete after test. */
.flex1wrap1.youtube{padding-top:25px;padding-bottom:67.5%;}
.flex1wrap1.vimeo{padding-top:0;}
.flex1wrap1.widescreen{padding-bottom:56.34%;}
.flex1wrap1 .flex1cont1, /* div */
.flex1wrap1 iframe,
.flex1wrap1 object,
.flex1wrap1 embed,
.flex1wrap1 video,
.flex1wrap1 img{display:block;position:absolute;left:0;right:0;top:0;bottom:0;
	width:100%;
	height:100% !important; /* 우선순위 높여준다! (( lib1cp1.css 에서 .bbs1view1 .substance 자손은 {max-width:100%;height:auto;} 값을 가지므로.. */
	border:0;vertical-align:top;
}
  /* [IE7] 결함 해법 .flex1wrap1fix1
		)) object 높이 결함 해설) [IE7]만 .flex1wrap1fix1 필요하고, 나머지는 있든 없든 상관없다. 조건주석문 안쪽에 사용하면 좋겠다.
		)) img 중앙정렬 결함 해설) 이미지 (contain (image full)) 사이즈 위해 .flex1wrap1fix1 필요하다.
			[IE7]만 img{position:absolute;} 일 때 중앙정렬 결함있어, 모든 [UA]에 .flex1wrap1fix1 추가하고 img{position:relative;} 로 호환 맞추었다.
	*/
.flex1wrap1>.flex1wrap1fix1{z-index:10;display:block;position:absolute;left:0;right:0;top:0;bottom:0;width:100%;height:100%;}
.flex1wrap1>.flex1wrap1fix1 ~ .alternativeContent{position:absolute;margin:0;} /* ☆ 대체콘텐츠 높이 영향 무력화 */
/* Flex Image 20150713 */
/* Thumbnail (contain (image full)) 왜곡(폭큰이미지). 여백(키큰이미지左右) = 이미지 안보이는 부분 없다. */
.flex1wrap1>.flex1wrap1fix1>img,
img.flex.contain{ /* (ex) ul.grid>li.column>a.flex1wrap>.f1.flex1wrap1fix1>img */
	display:block;position:relative; /* (중앙정렬) [IE7]fix */
	width:auto;height:auto;min-width:0;max-width:100%;min-height:100%;max-height:100%;
	margin:0 auto;
}
/* Thumbnail (cover (frame full)) 왜곡(폭큰이미지). 잘림(키큰이미지下) = 프레임 빈공간 없다. */
img.flex.cover{display:block;position:absolute;left:0;top:0;bottom:0;width:100%;height:auto;min-height:100%;max-height:none;vertical-align:top;}
/* Flex Image Detail  ☆ 왜곡(안함). 제한(키큰이미지) = 이미지에 따른 프레임 너비 불변, 높이 가변 */
img.flex.detail{display:block;width:auto;height:auto;min-width:0;max-width:100%;min-height:0;/* max-height:100%; */max-height:415px;margin:0 auto;}


/* ☆ Responsive Utilities 20150817 20160610 20170111 ◇◆◇◆◇◆◇◆◇◆ */


@media all and (max-width:639px){ /* small only ◇◆ */

	.width-100pct-small-only{width:100% !important;}
	/* must upgrade naming */
	.w100-small{width:100% !important;}
	.waha-small{width:auto !important;height:auto !important;}
	.tac-small{text-align:center;}

	/* Table RWD 20160610
	 * Note) colspan, rowspan 없는 단순 표만 사용.
	 * ToDo) 중첩 표
	 */
	html.Mobile table.small-is-block,
	html.Mobile table.small-is-block caption,
	html.Mobile table.small-is-block thead,
	html.Mobile table.small-is-block tbody,
	html.Mobile table.small-is-block tfoot,
	html.Mobile table.small-is-block tr,
	html.Mobile table.small-is-block th,
	html.Mobile table.small-is-block td{display:block;box-sizing:border-box;overflow:hidden;}
	html.Mobile table.small-is-block caption{margin:0 0 -1px;padding:0;}
	html.Mobile table.small-is-block caption .h1{position:relative;display:block;padding:.666em;border-bottom:1px solid #d7d7d7;background:#f5f7f9;}
	html.Mobile table.small-is-block th{clear:both;display:block;float:left;
		width:40%;
		margin:0 -1px 0 0;
		border:0 !important;border-top:1px solid #ddd !important;border-right:1px solid #ddd !important;
	}
	html.Mobile table.small-is-block td{display:block;float:left;
		width:60%;
		border:0 !important;border-top:1px solid #ddd !important;border-left:1px solid #ddd !important;
	}


} /* /(max-width:639px) */
@media all and (min-width:640px) and (max-width:1000px){ /* medium only ◇◆ */

	.width-100pct-medium-only{width:100% !important;}


} /* /(min-width:640px) and (max-width:1000px) */


/* Display Show or Hide + Layout float. 20170111 (( lib.css 20161013 */
/* @media all and (min-width:0){} */ /* small ◇◆ */
	.hide-all,
	.hide-small{display:none !important;}
	.show-all,
	.show-small,
	.show-small-block{display:block !important;}
	.show-all-inline,
	.show-small-inline{display:inline !important;}
	.show-all-inline-block,
	.show-small-inline-block{display:inline-block !important;}
	.show-all-table-cell,
	.show-small-table-cell{display:table-cell !important;}
	.float-none-all,
	.float-none-small{float:none !important;}
	.float-left-all,
	.float-left-small{float:left !important;}
	.width-100pct-small{width:100% !important;}
	.width-auto-small{width:auto !important;}
	.text-align-center-small{text-align:center !important;}
	.text-align-left-small{text-align:left !important;}
	.text-align-right-small{text-align:right !important;}
@media all and (min-width:640px){ /* medium ◇◆ */
	.hide-medium{display:none !important;}
	.show-medium,
	.show-medium-block{display:block !important;}
	.show-medium-inline{display:inline !important;}
	.show-medium-inline-block{display:inline-block !important;}
	.show-medium-table-cell{display:table-cell !important;}
	.float-none-medium{float:none !important;}
	.float-left-medium{float:left !important;}
	.width-100pct-medium{width:100% !important;}
	.width-auto-medium{width:auto !important;}
	.text-align-center-medium{text-align:center !important;}
	.text-align-left-medium{text-align:left !important;}
	.text-align-right-medium{text-align:right !important;}
}
@media all and (min-width:1000px){ /* large ◇◆ */
	.hide-large{display:none !important;}
	.show-large,
	.show-large-block{display:block !important;}
	.show-large-inline{display:inline !important;}
	.show-large-inline-block{display:inline-block !important;}
	.show-large-table-cell{display:table-cell !important;}
	.float-none-large{float:none !important;}
	.float-left-large{float:left !important;}
	.width-100pct-large{width:100% !important;}
	.width-auto-large{width:auto !important;}
	.text-align-center-large{text-align:center !important;}
	.text-align-left-large{text-align:left !important;}
	.text-align-right-large{text-align:right !important;}
}
@media all and (min-width:1200px){ /* xlarge ◇◆ */
	.hide-xlarge{display:none !important;}
	.show-xlarge{display:block !important;}
	.show-xlarge-inline{display:inline !important;}
	.show-xlarge-inline-block{display:inline-block !important;}
	.show-xlarge-table-cell{display:table-cell !important;}
	.float-none-xlarge{float:none !important;}
	.float-left-xlarge{float:left !important;}
	.width-100pct-xlarge{width:100% !important;}
	.width-auto-xlarge{width:auto !important;}
	.text-align-center-xlarge{text-align:center !important;}
	.text-align-left-xlarge{text-align:left !important;}
	.text-align-right-xlarge{text-align:right !important;}
}


/* RWD Layout 20160401 ◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆ */
/* small~xlarge */
@media all and (min-width:640px) and (max-width:767px){ /* If the issue ◇◆◇◆◇◆◇◆◇◆ */
} /* /(min-width:640px) and (max-width:767px) */
@media all and (min-width:768px){ /* medium ◇◆◇◆◇◆◇◆◇◆ */
} /* /(min-width:768px) */
@media all and (min-width:1000px){ /* large ◇◆◇◆◇◆◇◆◇◆ */
} /* /(min-width:1000px) */
@media all and (min-width:1200px){ /* xlarge ◇◆◇◆◇◆◇◆◇◆ */
} /* /(min-width:1200px) */
@media all and (min-width:1256px){ /* xlarge+(padding20*2)+(scrollbar-track16) ◇◆◇◆◇◆◇◆◇◆ */
} /* /(min-width:1256px) */
@media screen and (orientation:landscape), (min-width:640px) { /* ◇◆◇◆◇◆◇◆◇◆ */
} /* /(orientation:landscape), (min-width:640px) */
/* /RWD ◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆ */